.app {
  width: 100%;
  display: flex;
}

.button {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(239, 239, 239);
  color: black;
  padding: 15px 25px;
  text-align: center;;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
  font-size: 16px;
}

.sectionHeader {
  font-size: 20px;
  padding: 0px 0px 10px 10px;
  display: block;
  border-bottom: 1px solid #e4e4e4;
  color: #777;
}

.section {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.label {
  color: #777;
  margin-top: 12px;
  padding-right: 10px;
  text-align: right;
  width: 15%;
  font-size: 13px;
}

.field {
  border: solid 1px #dadada;
	color: #777;
	height: 30px;
	margin: 2px 6px 16px 0px;
	outline: 0 none;
	width: 80%;
	font-size: 12px;
	line-height: 15px;
	padding-left: 5px;
}

.equipment {
  height: 150px;
  resize: vertical;
}

.decklist {
  height: 250px;
  resize: vertical;
}

.leftCol {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 5%;
}

.rightCol {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 35%;
}

.previewContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.preview {
  margin-bottom: 16px
}
